Repository VATSIM-UK/core: changes, and which Codecov flags are due for each by the changed paths.
All: application, waitinglistsmanager

codecov.yml:

codecov:
  branch: main
coverage:
  status:
    project:
      default: off
      application:
        target: auto
        threshold: 0%
        flags:
          - application
      waitinglistsmanager:
        target: auto
        threshold: 0%
        flags:
            - waitinglistsmanager
ignore:
  - app/Console/Kernel.php
  - app/Exceptions/Handler.php
  - app/Http/Kernel.php
  - app/helpers.php
  - app/CloudflareHelper.php
flags:
  application:
    paths:
      - app/
  waitinglistsmanager:
    paths:
      - nova-components/WaitingListsManager/src/

linting
  app/Console/Commands/WaitingLists/SendAtcTopTenNotification.php
  tests/Unit/Training/WaitingList/WaitingListTest.php
  tests/Unit/Training/WaitingList/WaitingListTopTenNotificationTest.php
Due: application

Use CheckboxList instead of relation manager for permissions
  app/Filament/Resources/RoleResource.php
  app/Filament/Resources/RoleResource/RelationManagers/PermissionsRelationManager.php
  database/seeders/RolesAndPermissionsSeeder.php
Due: application

fix seeder
  database/seeders/RolesAndPermissionsSeeder.php
Due: none

Add note that seeder is run on production
  database/seeders/DatabaseSeeder.php
Due: none

remove comment
  database/seeders/DatabaseSeeder.php
Due: none

Add operations quarterly stats
  app/Filament/Helpers/Pages/RequiresAuthorisation.php
  app/Filament/Pages/Operations/GenerateQuarterlyStats.php
  app/Providers/FilamentServiceProvider.php
  resources/views/adm/layout/sidebar.blade.php
  resources/views/adm/layout/sidebar/operations.blade.php
  resources/views/adm/ops/qstats.blade.php
  resources/views/filament/pages/operations/generate-quarterly-stats.blade.php
  routes/web-admin.php
  tests/Feature/Admin/Pages/Operations/GenerateQuarterlyStatsPageTest.php
  tests/Feature/Admin/QuarterlyStatsTest.php
Due: application

fix exception when * perm doesnt exist
  database/seeders/RolesAndPermissionsSeeder.php
Due: none

remove comment
  app/Filament/Pages/Operations/GenerateQuarterlyStats.php
Due: application

update ban badge to only show local bans
  app/Filament/Resources/BanResource.php
Due: application

fix: Role & Perm Seeder `*` does not exist exception (#3135)
  database/seeders/RolesAndPermissionsSeeder.php
Due: none

Fix viewing network bans, fix eye icon with no resource
  app/Filament/Resources/BanResource.php
  app/Filament/Resources/BanResource/Pages/ViewBan.php
  app/Providers/FilamentServiceProvider.php
  database/factories/Mship/Account/BanFactory.php
Due: application

refactor Dockerfile for devcontainer Updated to use base of webdevops/php-nginx-dev:8.2 to support PHP 8.2.x. This is required following changes to docker-compose.yml
  .devcontainer/Dockerfile
  composer.lock
Due: none

hide sensitive account details from JSON
  app/Models/Mship/Account.php
Due: application

fix ban active queries to check if is repealed before looking and periods
  app/Models/Mship/Account/Ban.php
Due: application

feat!: waiting list elgibility in database & event driven
  app/Console/Commands/Training/CheckWaitingListEligibilityCommand.php
  app/Console/Kernel.php
  app/Contracts/AccountCentricEvent.php
  app/Events/NetworkData/AtcSessionEnded.php
  app/Events/Training/AccountAddedToWaitingList.php
  app/Events/Training/AccountManualFlagChanged.php
  app/Events/Training/FlagAddedToWaitingList.php
  app/Jobs/Training/CheckAccountWaitingListEligibility.php
  app/Listeners/Training/WaitingList/CheckAccountWaitingListEligibilityListener.php
  app/Listeners/Training/WaitingList/CheckWaitingListFollowingFlagAddition.php
  app/Models/Training/WaitingList.php
  app/Models/Training/WaitingList/WaitingListAccount.php
  app/Models/Training/WaitingList/WaitingListAccountFlag.php
  app/Providers/EventServiceProvider.php
  app/Providers/TrainingEventServiceProvider.php
  app/Services/Training/AddToWaitingList.php
  app/Services/Training/CheckWaitingListEligibility.php
  app/Services/Training/WriteWaitingListEligibility.php
  database/migrations/2023_07_04_193928_database_columns_for_checks.php
  nova-components/WaitingListsManager/src/Http/WaitingListAccountResource.php
  tests/Feature/Training/WaitingListEligibilityPlumbingTest.php
  tests/Unit/Training/WaitingList/WaitingListCheckEligibilityServiceTest.php
  tests/Unit/Training/WaitingList/WaitingListTest.php
  tests/Unit/Training/WaitingList/WaitingListWriteEligibilityTest.php
Due: application, waitinglistsmanager

linting
  app/Events/Training/FlagAddedToWaitingList.php
  app/Listeners/Training/WaitingList/CheckAccountWaitingListEligibilityListener.php
  app/Listeners/Training/WaitingList/CheckWaitingListFollowingFlagAddition.php
  app/Providers/TrainingEventServiceProvider.php
  app/Services/Training/CheckWaitingListEligibility.php
  tests/Unit/Training/WaitingList/WaitingListCheckEligibilityServiceTest.php
  tests/Unit/Training/WaitingList/WaitingListTest.php
Due: application

test updates
  resources/views/mship/waiting-lists/_waiting_lists_list.blade.php
  resources/views/mship/waiting-lists/view.blade.php
  tests/Unit/Training/WaitingList/WaitingListFlagTest.php
Due: none

test fixes
  app/Providers/EventServiceProvider.php
Due: application

more fixes
  app/Http/Controllers/Mship/WaitingLists.php
  resources/views/mship/waiting-lists/view.blade.php
Due: application

linting
  app/Http/Controllers/Mship/WaitingLists.php
Due: application

fix a few fields
  app/Filament/Resources/AccountResource.php
  app/Models/Mship/Account.php
Due: application

reinstate the account policy
  app/Policies/Nova/AccountPolicy.php
Due: application

feat: add permission & sync for obs students channel
  app/Console/Commands/Members/SyncCtsRoles.php
  database/seeders/RolesAndPermissionsSeeder.php
Due: application

linting
  app/Console/Commands/Members/SyncCtsRoles.php
  database/seeders/RolesAndPermissionsSeeder.php
Due: application

feat: add permission & sync for obs students channel (#3140)
  app/Console/Commands/Members/SyncCtsRoles.php
  database/seeders/RolesAndPermissionsSeeder.php
Due: application

authoriseViewAny on account resources
  app/Nova/Account.php
  app/Policies/Nova/AccountPolicy.php
Due: application

fix: add method to sync multiple callsigns to the same role on CTS sync
  app/Console/Commands/Members/SyncCtsRoles.php
Due: application

fix: add method to sync multiple callsigns to the same role on CTS sync (#3141)
  app/Console/Commands/Members/SyncCtsRoles.php
Due: application

wip
  app/Filament/Resources/FeedbackResource.php
  app/Filament/Resources/FeedbackResource/Pages/CreateFeedback.php
  app/Filament/Resources/FeedbackResource/Pages/EditFeedback.php
  app/Filament/Resources/FeedbackResource/Pages/ListFeedback.php
  app/Filament/Resources/FeedbackResource/Pages/ViewFeedback.php
  app/Policies/Nova/FeedbackPolicy.php
  database/seeders/RolesAndPermissionsSeeder.php
Due: application

fix: Allow `viewAny` on Nova account resources (#3139)
  app/Nova/Account.php
Due: application

wip
  app/Filament/Resources/FeedbackResource.php
  app/Filament/Resources/FeedbackResource/Pages/CreateFeedback.php
  app/Filament/Resources/FeedbackResource/Pages/EditFeedback.php
  app/Filament/Resources/FeedbackResource/Pages/ListFeedback.php
  app/Filament/Resources/FeedbackResource/Widgets/FeedbackOverview.php
  app/Policies/Nova/FeedbackPolicy.php
Due: application

add copyable feedback responses & filters
  app/Filament/Resources/FeedbackResource.php
  app/Filament/Resources/FeedbackResource/Pages/ListFeedback.php
  app/Filament/Resources/FeedbackResource/Pages/ViewFeedback.php
  app/Filament/Resources/FeedbackResource/Widgets/FeedbackOverview.php
  app/Policies/Nova/FeedbackPolicy.php
  composer.json
  composer.lock
Due: application

Permissions & tests
  app/Filament/Resources/FeedbackResource/Pages/ViewFeedback.php
  app/Models/Mship/Concerns/HasNovaPermissions.php
  app/Policies/FeedbackPolicy.php
  app/Policies/Nova/FeedbackPolicy.php
  app/Providers/AuthServiceProvider.php
  database/seeders/RolesAndPermissionsSeeder.php
  tests/Feature/Admin/Feedback/FeedbackResourceTest.php
  tests/Feature/Admin/Feedback/Pages/ViewFeedbackPageTest.php
Due: application

add missing permission to seeder
  database/seeders/RolesAndPermissionsSeeder.php
  tests/Feature/Admin/Feedback/FeedbackResourceTest.php
Due: none

fix division by zero
  app/Filament/Resources/FeedbackResource/Widgets/FeedbackOverview.php
Due: application

feat: route to the view screen of an account from search
  app/Filament/Resources/AccountResource.php
Due: application

feat: route to the view screen of an account from search (#3151)
  app/Filament/Resources/AccountResource.php
Due: application

feat: add feedback to filament admin panel (#3150)
  app/Filament/Resources/FeedbackResource.php
  app/Filament/Resources/FeedbackResource/Pages/ListFeedback.php
  app/Filament/Resources/FeedbackResource/Pages/ViewFeedback.php
  app/Filament/Resources/FeedbackResource/Widgets/FeedbackOverview.php
  app/Models/Mship/Concerns/HasNovaPermissions.php
  app/Policies/FeedbackPolicy.php
  app/Policies/Nova/FeedbackPolicy.php
  app/Providers/AuthServiceProvider.php
  composer.json
  composer.lock
  database/seeders/RolesAndPermissionsSeeder.php
  tests/Feature/Admin/Feedback/Pages/ViewFeedbackPageTest.php
Due: application

fix: order feedback by newest first in table
  app/Filament/Resources/FeedbackResource.php
Due: application
