Repository VATSIM-UK/core: changes, and which Codecov flags are due for each by the changed paths.
All: application, waitinglistsmanager

codecov.yml:

codecov:
  branch: main
coverage:
  status:
    project:
      default: off
      application:
        target: auto
        threshold: 0%
        flags:
          - application
      waitinglistsmanager:
        target: auto
        threshold: 0%
        flags:
            - waitinglistsmanager
ignore:
  - app/Console/Kernel.php
  - app/Exceptions/Handler.php
  - app/Http/Kernel.php
  - app/helpers.php
  - app/CloudflareHelper.php
flags:
  application:
    paths:
      - app/
  waitinglistsmanager:
    paths:
      - nova-components/WaitingListsManager/src/

Add methods to get and sync mentors and students per position type
  app/Console/Commands/Members/SyncCtsRoles.php
  app/Repositories/Cts/MentorRepository.php
  app/Repositories/Cts/StudentRepository.php
  database/migrations/2022_11_20_200656_add_atc_training_roles.php
  tests/Unit/CTS/MentorRepositoryTest.php
  tests/Unit/CTS/StudentRepositoryTest.php
Due: application

Apply fixes from StyleCI
  app/Console/Commands/Members/SyncCtsRoles.php
  database/migrations/2022_11_20_200656_add_atc_training_roles.php
  tests/Unit/CTS/MentorRepositoryTest.php
Due: application

remove left overs
  app/Console/Commands/Members/SyncCtsRoles.php
Due: application

Apply fixes from StyleCI
  app/Console/Commands/Members/SyncCtsRoles.php
Due: application

More thorough testing
  tests/Unit/CTS/MentorRepositoryTest.php
  tests/Unit/CTS/StudentRepositoryTest.php
Due: none

Apply fixes from StyleCI
  tests/Unit/CTS/MentorRepositoryTest.php
Due: none

Refactor to remove mentor changes, and just affect students. Get by RTS instead
  app/Console/Commands/Members/SyncCtsRoles.php
  app/Repositories/Cts/MentorRepository.php
  app/Repositories/Cts/StudentRepository.php
  database/migrations/2022_11_20_200656_add_atc_training_roles.php
  tests/Unit/CTS/MentorRepositoryTest.php
  tests/Unit/CTS/StudentRepositoryTest.php
Due: application

feat: ATC training discord roles per qualification (#2796)
  app/Console/Commands/Members/SyncCtsRoles.php
  app/Repositories/Cts/MentorRepository.php
  app/Repositories/Cts/StudentRepository.php
  database/migrations/2022_11_20_200656_add_atc_training_roles.php
Due: application

Updates email content for the waiting list automatic removal process
  resources/views/emails/training/waiting_list_removal_added.blade.php
  resources/views/emails/training/waiting_list_removal_cancelled.blade.php
  resources/views/emails/training/waiting_list_removal_completed.blade.php
  resources/views/emails/training/waiting_list_removal_reminder.blade.php
Due: none

Creates waiting list automated removal functional and a scheduled task to process the waiting lists and identify members who do not meet activity requirements, triggering the removal process
  app/Console/Commands/WaitingLists/CheckMembersMeetActivityRules.php
  app/Console/Kernel.php
  app/Models/Training/WaitingList.php
  app/Models/Training/WaitingList/WaitingListAccount.php
  app/Models/Training/WaitingList/WaitingListAccountPendingRemoval.php
  app/Notifications/Training/WaitingListRemovalAdded.php
  app/Notifications/Training/WaitingListRemovalCancelled.php
  app/Notifications/Training/WaitingListRemovalCompleted.php
  app/Notifications/Training/WaitingListRemovalReminder.php
  database/migrations/2022_11_06_111641_add_training_list_enforce_hour_eligibility_column.php
  database/migrations/2022_11_06_201538_create_training_waiting_list_account_pending_removal_table.php
  resources/views/emails/training/waiting_list_removal_added.blade.php
  resources/views/emails/training/waiting_list_removal_cancelled.blade.php
  resources/views/emails/training/waiting_list_removal_completed.blade.php
  resources/views/emails/training/waiting_list_removal_reminder.blade.php
  resources/views/mship/waiting-lists/_waiting_lists_list.blade.php
  resources/views/mship/waiting-lists/view.blade.php
Due: application

Updates tests following waiting list automated removal implementation
  tests/Feature/Account/WaitingListsTest.php
  tests/Unit/Training/WaitingList/WaitingListAccountTest.php
Due: none

refactor: move to event driven architecture
  app/Console/Commands/Training/CheckHomeMembersInWaitingLists.php
  app/Console/Kernel.php
  app/Jobs/Training/CheckHomeMemberInWaitingList.php
  app/Listeners/Training/WaitingList/CheckWaitingListAccountInactivity.php
  app/Listeners/Training/WaitingList/CheckWaitingListAccountMshipState.php
  app/Notifications/Training/RemovedFromWaitingListInactiveAccount.php
  app/Providers/EventServiceProvider.php
  resources/views/emails/training/waiting_list_inactive_account.blade.php
  tests/Unit/Training/WaitingList/CheckHomeMembersCommandTest.php
  tests/Unit/Training/WaitingList/RemoveNonHomeMembersTest.php
  tests/Unit/Training/WaitingList/WaitingListAccountStateChangeTest.php
Due: application

Apply fixes from StyleCI
  app/Listeners/Training/WaitingList/CheckWaitingListAccountInactivity.php
  app/Listeners/Training/WaitingList/CheckWaitingListAccountMshipState.php
  app/Notifications/Training/RemovedFromWaitingListInactiveAccount.php
Due: application

fix: add extra check for inactive members not on a list
  app/Listeners/Training/WaitingList/CheckWaitingListAccountInactivity.php
  tests/Unit/Training/WaitingList/WaitingListAccountStateChangeTest.php
Due: application

Apply fixes from StyleCI
  app/Listeners/Training/WaitingList/CheckWaitingListAccountInactivity.php
Due: application

Refactors waiting list automated removal and implements initial StyleCi feedback
  app/Console/Commands/WaitingLists/CheckMembersMeetActivityRules.php
  app/Events/Training/AccountMarkedForRemovalFromWaitingList.php
  app/Events/Training/AccountRegainedActivityRequirementsForWaitingList.php
  app/Events/Training/AccountRemovedFromWaitingListDueToActivity.php
  app/Events/Training/AccountWithinFiveDaysOfWaitingListRemoval.php
  app/Listeners/Training/WaitingList/SendAccountMarkedForRemovalNotification.php
  app/Listeners/Training/WaitingList/SendAccountRegainedActivityNotification.php
  app/Listeners/Training/WaitingList/SendAccountRemovedDueToActivityNotification.php
  app/Listeners/Training/WaitingList/SendWaitingListRemovalFiveDayReminderNotification.php
  app/Models/Training/WaitingList.php
  app/Models/Training/WaitingList/WaitingListAccountPendingRemoval.php
  app/Notifications/Training/WaitingListRemovalAdded.php
  app/Notifications/Training/WaitingListRemovalCancelled.php
  app/Notifications/Training/WaitingListRemovalCompleted.php
  app/Notifications/Training/WaitingListRemovalReminder.php
  app/Providers/EventServiceProvider.php
  database/migrations/2022_11_06_111641_add_training_list_enforce_hour_eligibility_column.php
  resources/views/mship/waiting-lists/view.blade.php
  tests/Feature/Account/WaitingListsTest.php
  tests/Unit/Training/WaitingList/WaitingListAccountTest.php
Due: application

Implements StyleCi feedback
  app/Console/Commands/WaitingLists/CheckMembersMeetActivityRules.php
  tests/Unit/Training/WaitingList/WaitingListAccountTest.php
Due: application

Adds newline at the end of migration
  database/migrations/2022_11_06_201538_create_training_waiting_list_account_pending_removal_table.php
Due: none

Further StyleCi improvements
  app/Console/Commands/WaitingLists/CheckMembersMeetActivityRules.php
  app/Events/Training/AccountMarkedForRemovalFromWaitingList.php
  app/Events/Training/AccountRegainedActivityRequirementsForWaitingList.php
  app/Events/Training/AccountRemovedFromWaitingListDueToActivity.php
  app/Events/Training/AccountWithinFiveDaysOfWaitingListRemoval.php
  app/Listeners/Training/WaitingList/SendAccountMarkedForRemovalNotification.php
  app/Listeners/Training/WaitingList/SendAccountRegainedActivityNotification.php
  app/Listeners/Training/WaitingList/SendAccountRemovedDueToActivityNotification.php
  app/Listeners/Training/WaitingList/SendWaitingListRemovalFiveDayReminderNotification.php
  app/Models/Training/WaitingList/WaitingListAccountPendingRemoval.php
  app/Notifications/Training/WaitingListRemovalAdded.php
  app/Notifications/Training/WaitingListRemovalCancelled.php
  app/Notifications/Training/WaitingListRemovalCompleted.php
  app/Notifications/Training/WaitingListRemovalReminder.php
  tests/Unit/Training/WaitingList/WaitingListAccountTest.php
Due: application

Log consistency + email subject changes
  app/Listeners/Training/WaitingList/CheckWaitingListAccountMshipState.php
  app/Notifications/Training/RemovedFromWaitingListInactiveAccount.php
  app/Notifications/Training/RemovedFromWaitingListNonHomeMember.php
Due: application

Remove atc references in email template
  resources/views/emails/training/waiting_list_inactive_account.blade.php
  resources/views/emails/training/waiting_list_non_home_removal.blade.php
Due: none

Update resources/views/emails/training/waiting_list_non_home_removal.blade.php
  resources/views/emails/training/waiting_list_non_home_removal.blade.php
Due: none

Update schedule for checking and processing waiting list automatic removals
  app/Console/Kernel.php
Due: none

Refactor command to check members of an ATC waiting list meet activity requirements
  app/Console/Commands/WaitingLists/CheckMembersMeetActivityRules.php
Due: application

Create scheduled command to process members of an ATC waiting list that are pending removal
  app/Console/Commands/WaitingLists/ProcessPendingRemovals.php
Due: application

Implements StyleCi feedback
  app/Console/Commands/WaitingLists/CheckMembersMeetActivityRules.php
Due: application

Creates unit tests for waiting list automated removal functionality
  tests/Unit/Training/WaitingList/WaitingListCheckAccountMeetActivityRequirementTest.php
  tests/Unit/Training/WaitingList/WaitingListProcessPendingRemovalsTest.php
Due: none

Implements StyleCi feedback
  tests/Unit/Training/WaitingList/WaitingListCheckAccountMeetActivityRequirementTest.php
  tests/Unit/Training/WaitingList/WaitingListProcessPendingRemovalsTest.php
Due: none

Further StyleCi feedback actioned
  tests/Unit/Training/WaitingList/WaitingListCheckAccountMeetActivityRequirementTest.php
  tests/Unit/Training/WaitingList/WaitingListProcessPendingRemovalsTest.php
Due: none

Adds new line to the end of waiting list unit test
  tests/Unit/Training/WaitingList/WaitingListProcessPendingRemovalsTest.php
Due: none

Removes toArray from Waiting List Removal Notifications
  app/Notifications/Training/WaitingListRemovalAdded.php
  app/Notifications/Training/WaitingListRemovalCancelled.php
  app/Notifications/Training/WaitingListRemovalCompleted.php
  app/Notifications/Training/WaitingListRemovalReminder.php
Due: application

Fix ATC training email address
  resources/views/controllers/endorsements/gatwick_ground.blade.php
Due: none

style: Fix ATC training email address (#2813)
  resources/views/controllers/endorsements/gatwick_ground.blade.php
Due: none

fix: fix test for account waiting lists test relation
  tests/Unit/Account/Relationships/AccountWaitingListsTest.php
Due: none

perf: add database level indexes for networkdata_atc table
  database/migrations/2022_12_13_131128_index_networkdata_for_account_disconnected_and_callsign.php
Due: none

refactor: add names to indexes to stop mysql squawking
  database/migrations/2022_12_13_131128_index_networkdata_for_account_disconnected_and_callsign.php
Due: none

feat: add theory exam pass status to waiting list index
  app/Models/Cts/TheoryResult.php
  app/Models/Training/WaitingList/WaitingListAccount.php
  database/factories/Cts/TheoryResultFactory.php
  database/factories/WaitingListFactory.php
  database/migrations/2022_12_14_103127_add_cts_exam_column.php
  nova-components/WaitingListsManager/resources/js/components/BooleanIndicator.vue
  nova-components/WaitingListsManager/resources/js/components/Bucket.vue
  nova-components/WaitingListsManager/resources/js/components/FlagIndicator.vue
  nova-components/WaitingListsManager/resources/js/components/Tool.vue
  nova-components/WaitingListsManager/src/Http/WaitingListAccountResource.php
  tests/Database/MockCtsDatabase.php
  tests/Unit/Training/WaitingList/WaitingListAccountCtsTheoryTest.php
Due: application, waitinglistsmanager

Apply fixes from StyleCI
  app/Models/Training/WaitingList/WaitingListAccount.php
  database/factories/Cts/TheoryResultFactory.php
  database/factories/WaitingListFactory.php
  tests/Unit/Training/WaitingList/WaitingListAccountCtsTheoryTest.php
Due: application
