Repository VATSIM-UK/core: changes, and which Codecov flags are due for each by the changed paths.
All: application, waitinglistsmanager

fix: order feedback by newest first in table (#3152)
  app/Filament/Resources/FeedbackResource.php
Due: application

fix: round feedback actioned percentage to whole number
  app/Filament/Resources/FeedbackResource/Widgets/FeedbackOverview.php
Due: application

fix: round feedback actioned percentage to whole number (#3153)
  app/Filament/Resources/FeedbackResource/Widgets/FeedbackOverview.php
Due: application

feat: add copy button to CID on AccountResource
  app/Filament/Resources/AccountResource.php
Due: application

feat: add copy button to CID on AccountResource (#3154)
  app/Filament/Resources/AccountResource.php
Due: application

feat: allow feedback to be searchable by subject
  app/Filament/Resources/FeedbackResource.php
Due: application

feat: allow feedback to be searchable by subject (#3155)
  app/Filament/Resources/FeedbackResource.php
Due: application

Abstract control over attribute visibility
  app/Filament/Helpers/Pages/BaseEditRecordPage.php
  app/Filament/Helpers/Pages/BaseViewRecordPage.php
  app/Filament/Helpers/Pages/ChecksForGatedAttributes.php
  app/Filament/Helpers/Resources/DefinesGatedAtrributes.php
  app/Filament/Resources/AccountResource.php
  app/Filament/Resources/AccountResource/Pages/EditAccount.php
  app/Filament/Resources/AccountResource/Pages/ViewAccount.php
  app/Filament/Resources/BanResource/Pages/ViewBan.php
  app/Filament/Resources/FeedbackResource/Pages/ViewFeedback.php
  app/Filament/Resources/RoleResource/Pages/EditRole.php
Due: application

fix namespace
  app/Filament/Helpers/Resources/DefinesGatedAtrributes.php
  app/Filament/Resources/AccountResource.php
Due: application

Restrict more data
  app/Filament/Resources/AccountResource.php
  app/Models/Mship/Account.php
Due: application

fix file name
  app/Filament/Helpers/Resources/DefinesGatedAttributes.php
Due: application

style: Change Ban Resource to Favour Local Ban States (#3136)
  app/Filament/Helpers/Pages/BaseEditRecordPage.php
  app/Filament/Helpers/Pages/BaseViewRecordPage.php
  app/Filament/Helpers/Pages/ChecksForGatedAttributes.php
  app/Filament/Helpers/Resources/DefinesGatedAttributes.php
  app/Filament/Resources/AccountResource.php
  app/Filament/Resources/AccountResource/Pages/EditAccount.php
  app/Filament/Resources/AccountResource/Pages/ViewAccount.php
  app/Filament/Resources/BanResource.php
  app/Filament/Resources/BanResource/Pages/ViewBan.php
  app/Filament/Resources/FeedbackResource/Pages/ViewFeedback.php
  app/Filament/Resources/RoleResource/Pages/EditRole.php
  app/Models/Mship/Account.php
  app/Models/Mship/Account/Ban.php
  app/Providers/FilamentServiceProvider.php
  database/factories/Mship/Account/BanFactory.php
Due: application

Add validation and default for role guard name
  app/Filament/Resources/RoleResource.php
Due: application

feat: Filament Role Guard Name Validation
  app/Filament/Resources/RoleResource.php
Due: application

pr suggestions
  .vscode/launch.json
  app/Console/Commands/Training/CheckWaitingListEligibilityCommand.php
  app/Events/Training/AccountAddedToWaitingList.php
  app/Events/Training/AccountChangedStatusInWaitingList.php
  app/Events/Training/AccountManualFlagChanged.php
  app/Events/Training/FlagAddedToWaitingList.php
  app/Jobs/Training/UpdateAccountWaitingListEligibility.php
  app/Listeners/Training/WaitingList/CheckAccountWaitingListEligibilityListener.php
  app/Services/Training/CheckWaitingListEligibility.php
  nova-components/WaitingListsManager/src/Http/WaitingListAccountResource.php
  tests/Feature/Training/WaitingListEligibilityPlumbingTest.php
Due: application, waitinglistsmanager

feat: waiting list eligibility is database & event driven (#3138)
  .vscode/launch.json
  app/Console/Commands/Training/CheckWaitingListEligibilityCommand.php
  app/Console/Kernel.php
  app/Contracts/AccountCentricEvent.php
  app/Events/NetworkData/AtcSessionEnded.php
  app/Events/Training/AccountAddedToWaitingList.php
  app/Events/Training/AccountManualFlagChanged.php
  app/Events/Training/FlagAddedToWaitingList.php
  app/Http/Controllers/Mship/WaitingLists.php
  app/Jobs/Training/UpdateAccountWaitingListEligibility.php
  app/Listeners/Training/WaitingList/CheckAccountWaitingListEligibilityListener.php
  app/Listeners/Training/WaitingList/CheckWaitingListFollowingFlagAddition.php
  app/Models/Training/WaitingList.php
  app/Models/Training/WaitingList/WaitingListAccount.php
  app/Models/Training/WaitingList/WaitingListAccountFlag.php
  app/Providers/EventServiceProvider.php
  app/Providers/TrainingEventServiceProvider.php
  app/Services/Training/AddToWaitingList.php
  app/Services/Training/CheckWaitingListEligibility.php
  app/Services/Training/WriteWaitingListEligibility.php
  database/migrations/2023_07_04_193928_database_columns_for_checks.php
  nova-components/WaitingListsManager/src/Http/WaitingListAccountResource.php
  resources/views/mship/waiting-lists/_waiting_lists_list.blade.php
  resources/views/mship/waiting-lists/view.blade.php
  tests/Feature/Training/WaitingListEligibilityPlumbingTest.php
  tests/Unit/Training/WaitingList/WaitingListCheckEligibilityServiceTest.php
  tests/Unit/Training/WaitingList/WaitingListFlagTest.php
  tests/Unit/Training/WaitingList/WaitingListTest.php
  tests/Unit/Training/WaitingList/WaitingListWriteEligibilityTest.php
Due: application, waitinglistsmanager

fix: waiting list eligible indicator not included in pivot
  app/Http/Controllers/Mship/WaitingLists.php
Due: application

fix: waiting list eligible indicator not included in pivot (#3159)
  app/Http/Controllers/Mship/WaitingLists.php
Due: application

remove navigation view override
  app/Nova/Feedback.php
Due: application

fix: Remove Nova Feedback Navigation Guard
  app/Nova/Feedback.php
Due: application

Abstract authorisation logic
  app/Filament/Helpers/Pages/BasePage.php
  app/Filament/Pages/Operations/GenerateQuarterlyStats.php
  app/Providers/FilamentServiceProvider.php
Due: application

remove old stats test
  tests/Feature/AdminOld/AccountTest.php
  tests/Feature/AdminOld/QuarterlyStatsTest.php
Due: none

include permission in seeder
  database/seeders/RolesAndPermissionsSeeder.php
Due: none

another uncomment
  database/seeders/RolesAndPermissionsSeeder.php
Due: none

disable majority of account resource
  app/Filament/Resources/AccountResource.php
Due: application

disable test
  tests/Feature/Admin/Account/Pages/ViewAccountPageTest.php
Due: none

skip instead
  tests/Feature/Admin/Account/Pages/ViewAccountPageTest.php
Due: none

debug: Disable Majority of Filament Account Resource Fields (#3161)
  app/Filament/Resources/AccountResource.php
  tests/Feature/Admin/Account/Pages/ViewAccountPageTest.php
Due: application

feat: Filament Quarterly Stats (#3134)
  app/Filament/Helpers/Pages/BasePage.php
  app/Filament/Pages/Operations/GenerateQuarterlyStats.php
  app/Providers/FilamentServiceProvider.php
  database/seeders/RolesAndPermissionsSeeder.php
  resources/views/adm/layout/sidebar.blade.php
  resources/views/adm/layout/sidebar/operations.blade.php
  resources/views/adm/ops/qstats.blade.php
  resources/views/filament/pages/operations/generate-quarterly-stats.blade.php
  routes/web-admin.php
  tests/Feature/Admin/Pages/Operations/GenerateQuarterlyStatsPageTest.php
  tests/Feature/AdminOld/AccountTest.php
  tests/Feature/AdminOld/QuarterlyStatsTest.php
Due: application

remove even more from accounts
  app/Filament/Resources/AccountResource.php
  tests/Feature/Admin/Account/Pages/ViewAccountPageTest.php
Due: application

fix stats start and end date being the same
  app/Filament/Pages/Operations/GenerateQuarterlyStats.php
Due: application

Add loading indicator
  resources/views/filament/pages/operations/generate-quarterly-stats.blade.php
Due: none

debug: Remove more filament account features (#3162)
  app/Filament/Resources/AccountResource.php
  tests/Feature/Admin/Account/Pages/ViewAccountPageTest.php
Due: application

fix: Filament Quarterly Stats Incorrect Date Generation (#3163)
  app/Filament/Pages/Operations/GenerateQuarterlyStats.php
  resources/views/filament/pages/operations/generate-quarterly-stats.blade.php
Due: application

wip
  app/Filament/Resources/WaitingListResource.php
  app/Filament/Resources/WaitingListResource/Pages/CreateWaitingList.php
  app/Filament/Resources/WaitingListResource/Pages/ListWaitingLists.php
  app/Filament/Resources/WaitingListResource/Pages/ViewWaitingList.php
  app/Filament/Resources/WaitingListResource/RelationManagers/AccountsRelationManager.php
  app/Filament/Resources/WaitingListResource/RelationManagers/IneligibleAccountsRelationManager.php
  app/Models/Training/WaitingList.php
  app/Rules/HomeMemberId.php
Due: application

Change feedback resource nav icon
  app/Filament/Resources/FeedbackResource.php
Due: application

Waiting list permissions and bug fixes
  app/Filament/Resources/WaitingListResource/Pages/ViewWaitingList.php
  app/Filament/Resources/WaitingListResource/RelationManagers/AccountsRelationManager.php
  app/Policies/Training/WaitingListPolicy.php
  database/seeders/RolesAndPermissionsSeeder.php
Due: application

Seed ATC and Pilot waiting list view perms
  database/seeders/RolesAndPermissionsSeeder.php
Due: none

wip: tests
  app/Filament/Resources/WaitingListResource/Pages/ViewWaitingList.php
  app/Filament/Resources/WaitingListResource/RelationManagers/AccountsRelationManager.php
  app/Models/Training/WaitingList/WaitingListAccount.php
  tests/Feature/Admin/Feedback/Pages/ViewFeedbackPageTest.php
  tests/Feature/Admin/WaitingLists/Pages/ViewWaitingListPageTest.php
  tests/Feature/Admin/WaitingLists/WaitingListResourceTest.php
Due: application

Use inelgible accounts relation manager to test for seeing account
  tests/Feature/Admin/WaitingLists/Pages/ViewWaitingListPageTest.php
Due: none

Path conditions:
  application: any of: app/, but not: app/Console/Kernel.php, app/Exceptions/Handler.php, app/Http/Kernel.php, app/helpers.php, app/CloudflareHelper.php
  waitinglistsmanager: any of: nova-components/WaitingListsManager/src/, but not: app/Console/Kernel.php, app/Exceptions/Handler.php, app/Http/Kernel.php, app/helpers.php, app/CloudflareHelper.php
