Repository VATSIM-UK/core: changes, and which Codecov flags are due for each by the changed paths.
All: application, waitinglistsmanager

codecov.yml:

codecov:
  branch: main
coverage:
  status:
    project:
      default: off
      application:
        target: auto
        threshold: 0%
        flags:
          - application
      waitinglistsmanager:
        target: auto
        threshold: 0%
        flags:
            - waitinglistsmanager
ignore:
  - app/Console/Kernel.php
  - app/Exceptions/Handler.php
  - app/Http/Kernel.php
  - app/helpers.php
  - app/CloudflareHelper.php
flags:
  application:
    paths:
      - app/
  waitinglistsmanager:
    paths:
      - nova-components/WaitingListsManager/src/

feat: Add more informative 403 messages
  app/Http/Controllers/Auth/LocalBanDisplayController.php
  app/Http/Middleware/DenyIfBanned.php
  resources/views/errors/banned-local.blade.php
  resources/views/errors/banned-network.blade.php
  routes/web-main.php
  tests/Feature/Middleware/BannedMiddlewareTest.php
Due: application

Apply fixes from StyleCI
  app/Http/Controllers/Auth/LocalBanDisplayController.php
  tests/Feature/Middleware/BannedMiddlewareTest.php
Due: application

Notes added by 'git notes add'
  ff/71852958e4bbd9d34c61daecab3564de38ab1e
Due: none

feat: Add more informative 403 messages (#2357)
  app/Http/Controllers/Auth/LocalBanDisplayController.php
  app/Http/Middleware/DenyIfBanned.php
  resources/views/errors/banned-local.blade.php
  resources/views/errors/banned-network.blade.php
  routes/web-main.php
  tests/Feature/Middleware/BannedMiddlewareTest.php
Due: application

Notes added by 'git notes add'
  70/aedfb3ad0f2db957ab7cba42711262bf5e41e5
Due: none

First progress
  app/Http/Controllers/Mship/WaitingLists.php
  app/Models/Atc/Endorsement/Condition.php
  app/Models/Mship/Concerns/HasWaitingListPositions.php
  app/Models/Training/WaitingList.php
  app/Models/Training/WaitingList/WaitingListAccount.php
  app/View/Components/BooleanIndicator.php
  app/View/Components/ProgressIndicator.php
  nova-components/WaitingListsManager/src/Http/WaitingListsManagerController.php
  public/images/cross_mark_circle.png
  public/images/tick_mark_circle.png
  resources/views/adm/atc/endorsement/check.blade.php
  resources/views/components/boolean-indicator.blade.php
  resources/views/components/nav.blade.php
  resources/views/components/progress-indicator.blade.php
  resources/views/mship/waiting-lists/_flag_breakdown.blade.php
  resources/views/mship/waiting-lists/_waiting_lists_list.blade.php
  resources/views/mship/waiting-lists/index.blade.php
  resources/views/mship/waiting-lists/view.blade.php
  resources/views/visit-transfer/admin/application/view.blade.php
  routes/web-main.php
  tests/Unit/Training/WaitingList/WaitingListTest.php
Due: application, waitinglistsmanager

Apply fixes from StyleCI
  app/Http/Controllers/Mship/WaitingLists.php
  app/Models/Atc/Endorsement/Condition.php
  app/Models/Mship/Concerns/HasWaitingListPositions.php
  app/Models/Training/WaitingList.php
  app/Models/Training/WaitingList/WaitingListAccount.php
  app/View/Components/BooleanIndicator.php
  app/View/Components/ProgressIndicator.php
  tests/Unit/Training/WaitingList/WaitingListTest.php
Due: application

Fix gitignore to cover horizon, fix test
  .gitignore
  tests/Unit/Training/WaitingList/WaitingListAccountTest.php
Due: none

fix not assessing requirement properly
  app/Models/Training/WaitingList/WaitingListAccount.php
Due: application

style: Add long waiting times message
  resources/views/site/atc/newcontroller.blade.php
Due: none

style: Add long waiting times message (#2364)
  resources/views/site/atc/newcontroller.blade.php
Due: none

More tweaks and testing
  .gitignore
  app/Http/Controllers/Mship/WaitingLists.php
  app/Models/Atc/Endorsement/Condition.php
  app/View/Components/BooleanIndicator.php
  resources/views/adm/atc/endorsement/check.blade.php
  resources/views/components/boolean-indicator.blade.php
  resources/views/components/nav.blade.php
  resources/views/mship/waiting-lists/_waiting_lists_list.blade.php
  resources/views/mship/waiting-lists/index.blade.php
  tests/Feature/Account/WaitingListsTest.php
  tests/Unit/Components/BooleanIndicatorTest.php
  tests/Unit/Endorsements/ConditionModelTest.php
Due: application

Apply fixes from StyleCI
  app/Models/Atc/Endorsement/Condition.php
  tests/Feature/Account/WaitingListsTest.php
Due: application

Start new DSG changes
  app/Http/Controllers/Site/StaffPageController.php
  resources/views/site/staff.blade.php
Due: application

Apply fixes from StyleCI
  app/Http/Controllers/Site/StaffPageController.php
Due: application

remove from old role
  resources/views/site/staff.blade.php
Due: none

Update mail config to current style
  .env.example
  config/mail.php
Due: none

Clarity change
  resources/views/mship/waiting-lists/view.blade.php
Due: none

fix: Exception on endorsement check page with no qualification
  app/Http/Controllers/Atc/EndorsementController.php
Due: application

Apply fixes from StyleCI
  app/Http/Controllers/Atc/EndorsementController.php
  app/Http/Controllers/Site/HomePageController.php
Due: application

fix: Prioritise Auth Middleware before bindings
  app/Http/Kernel.php
Due: none

Apply fixes from StyleCI
  app/Http/Controllers/Site/HomePageController.php
Due: application

Apply fixes from StyleCI (#2412)
  app/Http/Controllers/Site/HomePageController.php
Due: application

Fix order of track inactivity middleware to be before authentication
  app/Http/Kernel.php
Due: none

fix: Prioritise Auth Middleware before bindings (#2411)
  app/Http/Kernel.php
Due: none

fix: Exception on endorsement check page with no qualification (#2410)
  app/Http/Controllers/Atc/EndorsementController.php
Due: application

attempt to fix flakey test
  tests/Feature/Middleware/BannedMiddlewareTest.php
Due: none

feat: User Waiting List Inspection (#2358)
  .gitignore
  app/Http/Controllers/Mship/WaitingLists.php
  app/Models/Atc/Endorsement/Condition.php
  app/Models/Mship/Concerns/HasWaitingListPositions.php
  app/Models/Training/WaitingList.php
  app/Models/Training/WaitingList/WaitingListAccount.php
  app/View/Components/BooleanIndicator.php
  app/View/Components/ProgressIndicator.php
  nova-components/WaitingListsManager/src/Http/WaitingListsManagerController.php
  public/images/cross_mark_circle.png
  public/images/tick_mark_circle.png
  resources/views/adm/atc/endorsement/check.blade.php
  resources/views/components/boolean-indicator.blade.php
  resources/views/components/nav.blade.php
  resources/views/components/progress-indicator.blade.php
  resources/views/mship/waiting-lists/_flag_breakdown.blade.php
  resources/views/mship/waiting-lists/_waiting_lists_list.blade.php
  resources/views/mship/waiting-lists/index.blade.php
  resources/views/mship/waiting-lists/view.blade.php
  resources/views/visit-transfer/admin/application/view.blade.php
  routes/web-main.php
  tests/Feature/Account/WaitingListsTest.php
  tests/Unit/Components/BooleanIndicatorTest.php
  tests/Unit/Endorsements/ConditionModelTest.php
  tests/Unit/Training/WaitingList/WaitingListAccountTest.php
  tests/Unit/Training/WaitingList/WaitingListTest.php
Due: application, waitinglistsmanager

fix the root cause
  database/factories/Mship/BanFactory.php
  tests/Feature/Middleware/BannedMiddlewareTest.php
Due: none

style: Move waiting list nav item to other
  resources/views/components/nav.blade.php
Due: none

Notes added by 'git notes add'
  49/d140df3bd2d3e27d6032e7ae83993e8bc5ae52
Due: none

style: Move waiting list nav item to other (#2414)
  resources/views/components/nav.blade.php
Due: none

small typo fix
  resources/views/mship/waiting-lists/index.blade.php
Due: none

fix another typo
  resources/views/mship/waiting-lists/index.blade.php
Due: none

fix: Only show current waiting lists
  app/Http/Controllers/Mship/WaitingLists.php
  app/Models/Mship/Account.php
  app/Models/Mship/Concerns/HasNovaPermissions.php
  app/Models/Mship/Concerns/HasWaitingListPositions.php
  app/Models/Mship/Concerns/HasWaitingLists.php
  nova-components/WaitingListsManager/src/Http/WaitingListsManagerController.php
Due: application, waitinglistsmanager

Apply fixes from StyleCI
  app/Models/Mship/Account.php
  app/Models/Mship/Concerns/HasNovaPermissions.php
Due: application

add test
  tests/Unit/Account/Relationships/AccountWaitingListsTest.php
Due: none

Apply fixes from StyleCI
  tests/Unit/Account/Relationships/AccountWaitingListsTest.php
Due: none

include trashed accounts on flags
  app/Models/Training/WaitingList/WaitingListAccountFlag.php
Due: application
