Repository VATSIM-UK/core: changes, and which Codecov flags are due for each by the changed paths.
All: application, waitinglistsmanager

codecov.yml:

codecov:
  branch: main
coverage:
  status:
    project:
      default: off
      application:
        target: auto
        threshold: 0%
        flags:
          - application
      waitinglistsmanager:
        target: auto
        threshold: 0%
        flags:
            - waitinglistsmanager
ignore:
  - app/Console/Kernel.php
  - app/Exceptions/Handler.php
  - app/Http/Kernel.php
  - app/helpers.php
  - app/CloudflareHelper.php
flags:
  application:
    paths:
      - app/
  waitinglistsmanager:
    paths:
      - nova-components/WaitingListsManager/src/

style: update discord top notification to be less 'new'
  resources/views/components/top-notification.blade.php
Due: none

style: update discord top notification to be less 'new' (#2825)
  resources/views/components/top-notification.blade.php
Due: none

style: clarify invisibility management on mship dashboard
  resources/views/mship/management/dashboard.blade.php
Due: none

style: clarify invisibility management on mship dashboard (#2826)
  resources/views/mship/management/dashboard.blade.php
Due: none

feat: remove non division members & inactive members on state change (#2799)
  app/Listeners/Training/WaitingList/CheckWaitingListAccountInactivity.php
  app/Listeners/Training/WaitingList/CheckWaitingListAccountMshipState.php
  app/Notifications/Training/RemovedFromWaitingListInactiveAccount.php
  app/Notifications/Training/RemovedFromWaitingListNonHomeMember.php
  app/Providers/EventServiceProvider.php
  resources/views/emails/training/waiting_list_inactive_account.blade.php
  resources/views/emails/training/waiting_list_non_home_removal.blade.php
  tests/Unit/Account/Relationships/AccountWaitingListsTest.php
  tests/Unit/Training/WaitingList/WaitingListAccountStateChangeTest.php
Due: application

perf: add database level indexes for networkdata_atc table (#2823)
  database/migrations/2022_12_13_131128_index_networkdata_for_account_disconnected_and_callsign.php
Due: none

refactor: move logic for finding theory results
  app/Models/Cts/TheoryResult.php
  app/Models/Training/WaitingList/WaitingListAccount.php
  tests/Unit/Training/WaitingList/WaitingListAccountCtsTheoryTest.php
Due: application

Apply fixes from StyleCI
  app/Models/Cts/TheoryResult.php
  app/Models/Training/WaitingList/WaitingListAccount.php
Due: application

chore: disable waiting list state checks
  app/Providers/EventServiceProvider.php
Due: application

chore: disable waiting list state checks (#2842)
  app/Providers/EventServiceProvider.php
Due: application

Downgrade UKCP to Info
  app/Libraries/UKCP.php
Due: application

feat: add theory exam pass status to waiting list index (#2824)
  app/Models/Cts/TheoryResult.php
  app/Models/Training/WaitingList/WaitingListAccount.php
  database/factories/Cts/TheoryResultFactory.php
  database/factories/WaitingListFactory.php
  database/migrations/2022_12_14_103127_add_cts_exam_column.php
  nova-components/WaitingListsManager/resources/js/components/BooleanIndicator.vue
  nova-components/WaitingListsManager/resources/js/components/Bucket.vue
  nova-components/WaitingListsManager/resources/js/components/FlagIndicator.vue
  nova-components/WaitingListsManager/resources/js/components/Tool.vue
  nova-components/WaitingListsManager/src/Http/WaitingListAccountResource.php
  tests/Database/MockCtsDatabase.php
  tests/Unit/Training/WaitingList/WaitingListAccountCtsTheoryTest.php
Due: application, waitinglistsmanager

fix: theory result forAccount method not querying user in prod schema
  app/Models/Cts/TheoryResult.php
  app/Models/Training/WaitingList/WaitingListAccount.php
  tests/Unit/Training/WaitingList/WaitingListAccountCtsTheoryTest.php
Due: application

fix: theory result forAccount method not querying user in prod schema (#2850)
  app/Models/Cts/TheoryResult.php
  app/Models/Training/WaitingList/WaitingListAccount.php
  tests/Unit/Training/WaitingList/WaitingListAccountCtsTheoryTest.php
Due: application

Add new Operations Assistants
  resources/views/site/staff.blade.php
Due: none

Add new Operations Assistants (#2851)
  resources/views/site/staff.blade.php
Due: none

style: Added details of Shanwick Oceanic endorsement
  resources/views/site/atc/endorsements.blade.php
Due: none

style: Staff Update
  resources/views/site/staff.blade.php
Due: none

Update endorsements.blade.php
  resources/views/site/atc/endorsements.blade.php
Due: none

Update staff.blade.php
  resources/views/site/staff.blade.php
Due: none

style: Update ATC Staff (#2886)
  resources/views/site/staff.blade.php
Due: none

Ammend visiting page typos
  resources/views/site/community/vt-guide.blade.php
Due: none

style: Shanwick endorsement details (#2874)
  resources/views/site/atc/endorsements.blade.php
Due: none

style: Typo fixes (#2887)
  resources/views/site/community/vt-guide.blade.php
Due: none

update with new package oauth url
  tests/Feature/Services/DiscordTest.php
Due: none

remove api path
  tests/Feature/Services/DiscordTest.php
Due: none

Add role and syncing
  app/Console/Commands/Members/SyncCtsRoles.php
  database/migrations/2023_01_28_221016_add_tfp_roles.php
Due: application

Apply fixes from StyleCI
  app/Console/Commands/Members/SyncCtsRoles.php
  database/migrations/2023_01_28_221016_add_tfp_roles.php
Due: application

fix mentor position
  app/Console/Commands/Members/SyncCtsRoles.php
Due: application

undo as shouldn't be required
  app/Console/Commands/Members/SyncCtsRoles.php
Due: application

Apply fixes from StyleCI
  app/Console/Commands/Members/SyncCtsRoles.php
Due: application

implement shanwick syncing
  app/Console/Commands/Members/SyncCtsRoles.php
  app/Models/Cts/ValidationPosition.php
Due: application

feat: TFP Students Role Sync (#2897)
  app/Console/Commands/Members/SyncCtsRoles.php
  database/migrations/2023_01_28_221016_add_tfp_roles.php
Due: application

Initial work creating relationship between discord roles and qualifications
  app/Models/Discord/DiscordQualificationRole.php
  app/Models/Mship/Account.php
  app/Models/Mship/Concerns/HasDiscordAccount.php
  database/factories/Discord/DiscordQualificationRoleFactory.php
  database/factories/ModelFactory.php
  database/migrations/2023_01_28_230310_create_discord_qualification_role_table.php
  tests/Unit/Discord/DiscordQualificationRoleTest.php
Due: application

Apply fixes from StyleCI
  app/Console/Commands/Members/SyncCtsRoles.php
  app/Models/Discord/DiscordQualificationRole.php
  app/Models/Mship/Account.php
  app/Models/Mship/Concerns/HasDiscordAccount.php
  database/factories/Discord/DiscordQualificationRoleFactory.php
  database/factories/ModelFactory.php
  tests/Unit/Discord/DiscordQualificationRoleTest.php
Due: application

Update teamspeak.blade.php
  resources/views/site/community/teamspeak.blade.php
Due: none

Update vt-guide.blade.php
  resources/views/site/community/vt-guide.blade.php
Due: none

Update join.blade.php
  resources/views/site/join.blade.php
Due: none

Update oceanic.blade.php
  resources/views/site/pilots/oceanic.blade.php
Due: none
