Repository VATSIM-UK/core: changes, and which Codecov flags are due for each by the changed paths.
All: application, waitinglistsmanager

codecov.yml:

codecov:
  branch: main
coverage:
  status:
    project:
      default: off
      application:
        target: auto
        threshold: 0%
        flags:
          - application
      waitinglistsmanager:
        target: auto
        threshold: 0%
        flags:
            - waitinglistsmanager
ignore:
  - app/Console/Kernel.php
  - app/Exceptions/Handler.php
  - app/Http/Kernel.php
  - app/helpers.php
  - app/CloudflareHelper.php
flags:
  application:
    paths:
      - app/
  waitinglistsmanager:
    paths:
      - nova-components/WaitingListsManager/src/

Apply fixes from StyleCI
  app/Models/Training/WaitingList/WaitingListAccountFlag.php
Due: application

Fix ambiguous select query
  nova-components/WaitingListsManager/src/Http/WaitingListsManagerController.php
  tests/Feature/Training/WaitingListFeatureTest.php
Due: waitinglistsmanager

fix: Flaky test and only show current waiting lists (#2413)
  app/Http/Controllers/Mship/WaitingLists.php
  app/Models/Mship/Account.php
  app/Models/Mship/Concerns/HasNovaPermissions.php
  app/Models/Mship/Concerns/HasWaitingListPositions.php
  app/Models/Mship/Concerns/HasWaitingLists.php
  app/Models/Training/WaitingList/WaitingListAccountFlag.php
  database/factories/Mship/BanFactory.php
  nova-components/WaitingListsManager/src/Http/WaitingListsManagerController.php
  resources/views/mship/waiting-lists/index.blade.php
  tests/Feature/Training/WaitingListFeatureTest.php
  tests/Unit/Account/Relationships/AccountWaitingListsTest.php
Due: application, waitinglistsmanager

Notes added by 'git notes add'
  7b/5e8a72f94b139b4e785134acf1e64d58f360f8
Due: none

style: Fix Waiting List Typos
  resources/views/mship/waiting-lists/_waiting_lists_list.blade.php
  resources/views/mship/waiting-lists/index.blade.php
Due: none

style: Mail Config Changes (#2398)
  .env.example
  config/mail.php
Due: none

ci: FIx Test
  tests/Feature/Account/WaitingListsTest.php
Due: none

other staff changes
  resources/views/site/staff.blade.php
Due: none

Apply fixes from StyleCI
  app/Http/Controllers/Site/HomePageController.php
Due: application

Update newcontroller.blade.php
  resources/views/site/atc/newcontroller.blade.php
Due: none

Update staff.blade.php
  resources/views/site/staff.blade.php
Due: none

style: New Training Directors (#2397)
  app/Http/Controllers/Site/StaffPageController.php
  resources/views/site/staff.blade.php
Due: application

style: Update new controller message
  resources/views/site/atc/newcontroller.blade.php
Due: none

style: Show notice to OBS members about waiting list
  app/Http/Controllers/Mship/WaitingLists.php
  resources/views/mship/waiting-lists/index.blade.php
Due: application

Apply fixes from StyleCI
  app/Http/Controllers/Mship/WaitingLists.php
Due: application

style: Staff Change
  resources/views/site/staff.blade.php
Due: none

style: OBS waiting list clarification (#2416)
  app/Http/Controllers/Mship/WaitingLists.php
  resources/views/mship/waiting-lists/index.blade.php
Due: application

style: Staff title correction (#2435)
  resources/views/site/staff.blade.php
Due: none

Update vt-guide.blade.php
  resources/views/site/community/vt-guide.blade.php
Due: none

ci: Server Change
  .github/workflows/deploy.yml
Due: none

Replace usage of IPB init file with API / DB calls
  .env.example
  app/Console/Commands/ExternalServices/SyncCommunity.php
  app/Console/Commands/ExternalServices/SyncMentors.php
  app/Jobs/ExternalServices/IssueSecondaryForumGroup.php
  app/Libraries/Forum.php
  app/Models/Mship/Concerns/HasForumAccount.php
  app/Providers/AppServiceProvider.php
  config/services.php
Due: application

Apply fixes from StyleCI
  app/Jobs/ExternalServices/IssueSecondaryForumGroup.php
  app/Models/Mship/Concerns/HasForumAccount.php
  app/Providers/AppServiceProvider.php
Due: application

add doc block
  app/Libraries/Forum.php
Due: application

Missing lineending
  app/Libraries/Forum.php
Due: application

Apply fixes from StyleCI
  app/Libraries/Forum.php
Due: application

style: Update VT Guide(#2437)
  resources/views/site/community/vt-guide.blade.php
Due: none

fix typing
  app/Libraries/Forum.php
Due: application

feat: Remove IPB files dependecy (#2454)
  .env.example
  app/Console/Commands/ExternalServices/SyncCommunity.php
  app/Console/Commands/ExternalServices/SyncMentors.php
  app/Jobs/ExternalServices/IssueSecondaryForumGroup.php
  app/Libraries/Forum.php
  app/Models/Mship/Concerns/HasForumAccount.php
  app/Providers/AppServiceProvider.php
  config/services.php
Due: application

Notes added by 'git notes add'
  1f/5fe68b847ded4fc68f21fee5b818a8cb1e7d55
Due: none

ci: Forge Deployment
  .github/workflows/deploy.yml
Due: none

fix typing for oauth_client
  app/Libraries/Forum.php
Due: application

fix typings again
  app/Libraries/Forum.php
Due: application
