Repository VATSIM-UK/core: changes, and which Codecov flags are due for each by the changed paths.
All: application, waitinglistsmanager

codecov.yml:

codecov:
  branch: main
coverage:
  status:
    project:
      default: off
      application:
        target: auto
        threshold: 0%
        flags:
          - application
      waitinglistsmanager:
        target: auto
        threshold: 0%
        flags:
            - waitinglistsmanager
ignore:
  - app/Console/Kernel.php
  - app/Exceptions/Handler.php
  - app/Http/Kernel.php
  - app/helpers.php
  - app/CloudflareHelper.php
flags:
  application:
    paths:
      - app/
  waitinglistsmanager:
    paths:
      - nova-components/WaitingListsManager/src/

style: remove const
  app/Libraries/UKCP.php
Due: application

chore: renable email for waiting list non-home member removal (#3044)
  app/Notifications/Training/RemovedFromWaitingListNonHomeMember.php
Due: application

style: pint
  tests/Unit/UKCPLibraryTest.php
Due: none

Update guide.blade.php
  resources/views/ukcp/token/guide.blade.php
Due: none

feat: heathrow endorsement discord roles (#3092)
  app/Console/Commands/Members/SyncCtsRoles.php
  database/migrations/2023_06_05_193357_heathrow_endorsement_roles.php
Due: application

style: pint
  app/Libraries/UKCP.php
  tests/Unit/UKCPLibraryTest.php
Due: application

fix: handle -1 pilotrating bitmask and pilot rating revokation (#3091)
  app/Jobs/UpdateMember.php
  app/Models/Mship/Concerns/HasQualifications.php
  app/Models/Mship/Qualification.php
  tests/Unit/Mship/QualificationDetectionTest.php
Due: application

style: pint
  app/Http/Controllers/Site/AirportController.php
  app/Libraries/UKCP.php
  tests/Feature/Site/AirfieldInformationTest.php
Due: application

Update resources/views/site/pilots/stands.blade.php
  resources/views/site/pilots/stands.blade.php
Due: none

Update invalidation text
  resources/views/mship/management/dashboard.blade.php
Due: none

Remove ukcp token creation
  app/Http/Controllers/UKCP/Token.php
  app/Libraries/UKCP.php
  tests/Unit/UKCPLibraryTest.php
Due: application

feat: display UKCP stand status on airfield page
  app/Http/Controllers/Site/AirportController.php
  app/Libraries/UKCP.php
  resources/views/site/airport/view.blade.php
  tests/Feature/Site/AirfieldInformationTest.php
  tests/Unit/UKCPLibraryTest.php
Due: application

test: one more
  tests/Unit/UKCPLibraryTest.php
Due: none

perf: use timeout on stand status requests
  app/Libraries/UKCP.php
  tests/Unit/UKCPLibraryTest.php
Due: application

feat: add ukcp setup information to dashboard
  resources/views/mship/management/dashboard.blade.php
Due: none

update wording
  resources/views/ukcp/token/guide.blade.php
Due: none

test: update test assertions
  tests/Unit/UKCPLibraryTest.php
Due: none

feat: stand guide
  app/Http/Controllers/Site/PilotPagesController.php
  resources/views/site/home.blade.php
  resources/views/site/pilots/stands.blade.php
  routes/web-public.php
  tests/Feature/Site/PilotPagesTest.php
Due: application

test: fix test
  tests/Unit/UKCPLibraryTest.php
Due: none

style: linting
  tests/Feature/Site/PilotPagesTest.php
Due: none

remove double sort
  app/Libraries/UKCP.php
Due: application

deps: remove old stand status dependency
  composer.json
  composer.lock
Due: none

feat: New controller page updates (#3025)
  resources/views/site/atc/newcontroller.blade.php
Due: none

feat: support military pilot ratings (#3093)
  app/Jobs/UpdateMember.php
  app/Models/Mship/Account.php
  app/Models/Mship/Concerns/HasQualifications.php
  app/Models/Mship/Qualification.php
  database/migrations/2023_06_07_184051_add_military_pilot_ratings.php
  resources/views/mship/management/dashboard.blade.php
  tests/Unit/Account/AccountModelTest.php
  tests/Unit/Mship/MilitaryPilotQualificationDetectionTest.php
Due: application

fix: bad method name in UpdateMember due to alias
  app/Jobs/UpdateMember.php
Due: application

fix: bad method name in UpdateMember due to alias (#3102)
  app/Jobs/UpdateMember.php
Due: application

Revert "fix: bad method name in UpdateMember due to alias (#3102)"
  app/Jobs/UpdateMember.php
Due: application

Revert "feat: support military pilot ratings (#3093)"
  app/Jobs/UpdateMember.php
  app/Models/Mship/Account.php
  app/Models/Mship/Concerns/HasQualifications.php
  app/Models/Mship/Qualification.php
  database/migrations/2023_06_07_184051_add_military_pilot_ratings.php
  resources/views/mship/management/dashboard.blade.php
  tests/Unit/Account/AccountModelTest.php
  tests/Unit/Mship/MilitaryPilotQualificationDetectionTest.php
Due: application

revert: military piot ratings (#3103)
  app/Jobs/UpdateMember.php
  app/Models/Mship/Account.php
  app/Models/Mship/Concerns/HasQualifications.php
  app/Models/Mship/Qualification.php
  database/migrations/2023_06_07_184051_add_military_pilot_ratings.php
  resources/views/mship/management/dashboard.blade.php
  tests/Unit/Account/AccountModelTest.php
  tests/Unit/Mship/MilitaryPilotQualificationDetectionTest.php
Due: application

feat: add feature toggles to waiting lists
  app/Models/Training/WaitingList.php
  app/Models/Training/WaitingList/WaitingListAccount.php
  database/factories/WaitingListFactory.php
  database/migrations/2023_06_19_170417_add_feature_toggles_column.php
  nova-components/WaitingListsManager/resources/js/components/Bucket.vue
  nova-components/WaitingListsManager/resources/js/components/Tool.vue
  nova-components/WaitingListsManager/routes/api.php
  nova-components/WaitingListsManager/src/Http/WaitingListsManagerController.php
  tests/Unit/Training/WaitingList/WaitingListAccountTest.php
  tests/Unit/Training/WaitingList/WaitingListTest.php
Due: application, waitinglistsmanager

remove comment PR suggestion
  app/Models/Training/WaitingList.php
Due: application

Update app/Models/Training/WaitingList/WaitingListAccount.php
  app/Models/Training/WaitingList/WaitingListAccount.php
Due: application

more pr amends
  app/Models/Training/WaitingList.php
  tests/Unit/Training/WaitingList/WaitingListTest.php
Due: application

feat: add feature toggles to waiting lists (#3111)
  app/Models/Training/WaitingList.php
  app/Models/Training/WaitingList/WaitingListAccount.php
  database/factories/WaitingListFactory.php
  database/migrations/2023_06_19_170417_add_feature_toggles_column.php
  nova-components/WaitingListsManager/resources/js/components/Bucket.vue
  nova-components/WaitingListsManager/resources/js/components/Tool.vue
  nova-components/WaitingListsManager/routes/api.php
  nova-components/WaitingListsManager/src/Http/WaitingListsManagerController.php
  tests/Unit/Training/WaitingList/WaitingListAccountTest.php
  tests/Unit/Training/WaitingList/WaitingListTest.php
Due: application, waitinglistsmanager

refactor: better handle discord rate limiting & limit to only one try at a time
  app/Jobs/Mship/SyncToDiscord.php
  app/Libraries/Discord.php
  app/Providers/AppServiceProvider.php
Due: application

refactor: better handle discord rate limiting & limit to only one try at a time (#3113)
  app/Jobs/Mship/SyncToDiscord.php
  app/Libraries/Discord.php
  app/Providers/AppServiceProvider.php
Due: application

Revert "revert: military piot ratings (#3103)"
  app/Jobs/UpdateMember.php
  app/Models/Mship/Account.php
  app/Models/Mship/Concerns/HasQualifications.php
  app/Models/Mship/Qualification.php
  database/migrations/2023_06_07_184051_add_military_pilot_ratings.php
  resources/views/mship/management/dashboard.blade.php
  tests/Unit/Account/AccountModelTest.php
  tests/Unit/Mship/MilitaryPilotQualificationDetectionTest.php
Due: application

fix: military ratings returned as proper typed array
  app/Models/Mship/Qualification.php
Due: application

feat: military pilot ratings (#3121)
  app/Jobs/UpdateMember.php
  app/Models/Mship/Account.php
  app/Models/Mship/Concerns/HasQualifications.php
  app/Models/Mship/Qualification.php
  database/migrations/2023_06_07_184051_add_military_pilot_ratings.php
  resources/views/mship/management/dashboard.blade.php
  tests/Unit/Account/AccountModelTest.php
  tests/Unit/Mship/MilitaryPilotQualificationDetectionTest.php
Due: application
