Repository VATSIM-UK/core: changes, and which Codecov flags are due for each by the changed paths.
All: application, waitinglistsmanager

codecov.yml:

codecov:
  branch: main
coverage:
  status:
    project:
      default: off
      application:
        target: auto
        threshold: 0%
        flags:
          - application
      waitinglistsmanager:
        target: auto
        threshold: 0%
        flags:
            - waitinglistsmanager
ignore:
  - app/Console/Kernel.php
  - app/Exceptions/Handler.php
  - app/Http/Kernel.php
  - app/helpers.php
  - app/CloudflareHelper.php
flags:
  application:
    paths:
      - app/
  waitinglistsmanager:
    paths:
      - nova-components/WaitingListsManager/src/

perf: Daily Cert Import
  app/Console/Kernel.php
Due: none

Notes added by 'git notes add'
  2f/045004ed481947bcfd13dca738d660c3813522
Due: none

perf: Change Time of CERT Update
  app/Console/Kernel.php
Due: none

Notes added by 'git notes add'
  22/c7b80b1fa2d8005c7c0e5a26dc10f74ab9a6b3
Due: none

perf: Further ImportMember Improvements
  app/Console/Commands/Members/ImportMembers.php
  app/Console/Kernel.php
Due: application

Apply fixes from StyleCI
  app/Console/Commands/Members/ImportMembers.php
Due: application

Apply fixes from StyleCI (#2258)
  app/Console/Commands/Members/ImportMembers.php
Due: application

Notes added by 'git notes add'
  ce/e7ac23f4f5d33ab347758e68dba0d767d1f418
Due: none

ci: Disable Removal of Old Versions
  .github/workflows/deploy.yml
Due: none

perf: Disable Full CERT Import
  app/Console/Kernel.php
Due: none

Notes added by 'git notes add'
  73/9d596bd912ff919a5f692ddd0aba45123f5b1b
Due: none

Update staff.blade.php
  resources/views/site/staff.blade.php
Due: none

perf: Various Performance Improvements
  app/Console/Kernel.php
  app/Jobs/Middleware/RateLimited.php
  config/horizon.php
Due: application

Notes added by 'git notes add'
  52/34b77ca040be6399e9ffcabf997800a83b053f
Due: none

feat: Add base training place configuration and offer workflow
  app/Events/Training/TrainingPlaceOffered.php
  app/Models/Training/TrainingPlace.php
  app/Models/Training/TrainingPlace/TrainingPlaceOffer.php
  app/Models/Training/TrainingPlace/TrainingPosition.php
  app/Notifications/Training/TrainingPlaceOffer.php
  app/Nova/Station.php
  app/Nova/TrainingPlace.php
  app/Nova/TrainingPosition.php
  app/Services/Training/OfferTrainingPlace.php
  composer.json
  composer.lock
  database/factories/Training/TrainingPlace/TrainingPlaceOfferFactory.php
  database/factories/Training/TrainingPlace/TrainingPositionFactory.php
  database/factories/Training/TrainingPlaceFactory.php
  database/migrations/2021_08_27_125755_create_training_places_table.php
  database/migrations/2021_08_27_130409_create_training_positions_table.php
  database/migrations/2021_08_28_100948_create_training_place_offers_table.php
  nova-components/WaitingListsManager/resources/js/components/Bucket.vue
  nova-components/WaitingListsManager/resources/js/components/NoteIndicator.vue
  nova-components/WaitingListsManager/resources/js/components/OfferTrainingPlaceModal.vue
  nova-components/WaitingListsManager/resources/js/components/Tool.vue
  nova-components/WaitingListsManager/resources/js/tool.js
  nova-components/WaitingListsManager/routes/api.php
  nova-components/WaitingListsManager/src/Http/WaitingListsManagerController.php
  nova-components/WaitingListsManager/src/ToolServiceProvider.php
  resources/views/vendor/nova/partials/meta.blade.php
  tests/Feature/Training/TrainingPlace/TrainingPlaceOfferUserTest.php
  tests/Feature/Training/WaitingListFeatureTest.php
  tests/Feature/Training/WaitingListTrainingPlaceFeatureTest.php
  tests/Unit/Training/TrainingPlace/OfferTrainingPlaceServiceTest.php
  tests/Unit/Training/TrainingPlace/TrainingPositionTest.php
Due: application, waitinglistsmanager

Apply fixes from StyleCI
  app/Events/Training/TrainingPlaceOffered.php
  app/Models/Training/TrainingPlace.php
  app/Models/Training/TrainingPlace/TrainingPlaceOffer.php
  app/Models/Training/TrainingPlace/TrainingPosition.php
  app/Notifications/Training/TrainingPlaceOffer.php
  app/Nova/Station.php
  app/Nova/TrainingPlace.php
  app/Nova/TrainingPosition.php
  app/Services/Training/OfferTrainingPlace.php
  database/factories/Training/TrainingPlace/TrainingPlaceOfferFactory.php
  database/factories/Training/TrainingPlace/TrainingPositionFactory.php
  database/factories/Training/TrainingPlaceFactory.php
  nova-components/WaitingListsManager/src/ToolServiceProvider.php
  tests/Feature/Training/TrainingPlace/TrainingPlaceOfferUserTest.php
  tests/Feature/Training/WaitingListFeatureTest.php
  tests/Feature/Training/WaitingListTrainingPlaceFeatureTest.php
  tests/Unit/Training/TrainingPlace/OfferTrainingPlaceServiceTest.php
  tests/Unit/Training/TrainingPlace/TrainingPositionTest.php
Due: application, waitinglistsmanager

fix: Fix random syntax error in catch clause
  nova-components/WaitingListsManager/src/Http/WaitingListsManagerController.php
Due: waitinglistsmanager

Apply fixes from StyleCI
  nova-components/WaitingListsManager/src/Http/WaitingListsManagerController.php
Due: waitinglistsmanager

Update TrainingPlaceOfferUserTest.php
  tests/Feature/Training/TrainingPlace/TrainingPlaceOfferUserTest.php
Due: none

Update TrainingPlaceOffer.php
  app/Notifications/Training/TrainingPlaceOffer.php
Due: application

update staff.blade.php (#2263)
  resources/views/site/staff.blade.php
Due: none

style: Update Staff Page
  app/Http/Controllers/Site/StaffPageController.php
  resources/views/site/staff.blade.php
Due: application

style: Update TWR TGI
  resources/views/site/staff.blade.php
Due: none

build(ci): Use codecov action for coverage upload
  .github/workflows/test.yml
Due: none

Update oceanic.blade.php
  resources/views/site/pilots/oceanic.blade.php
Due: none

style: Update Oceanic (#2303)
  resources/views/site/pilots/oceanic.blade.php
Due: none

build(ci): Use codecov action for coverage upload (#2296)
  .github/workflows/test.yml
Due: none

Update vt-guide.blade.php
  resources/views/site/community/vt-guide.blade.php
Due: none

style: Update VT Guide (#2314)
  resources/views/site/community/vt-guide.blade.php
Due: none

build: update node release version
  .github/workflows/release.yml
Due: none

fix: Network Data Error Reporting and Logging
  app/Console/Commands/NetworkData/ProcessNetworkData.php
Due: application

Apply fixes from StyleCI
  app/Console/Commands/NetworkData/ProcessNetworkData.php
Due: application

Apply fixes from StyleCI (#2320)
  app/Console/Commands/NetworkData/ProcessNetworkData.php
Due: application

Notes added by 'git notes add'
  ad/5ad0f9ad00e744532abd1f3ac1689eaacfee9f
Due: none

fix: Ordering of Membership Ratings
  app/Models/Mship/Concerns/HasQualifications.php
Due: application

Notes added by 'git notes add'
  9e/9facc73a148bfa9326278356b2271af95edc9b
Due: none
